@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Nix Hotel</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to Nix Hotel</h2>
        <p>
            Nix Hotel is a sample application that
            allows to manage basic entities of hotels.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/trluxus/NixWebApplication">See project source code &raquo;</a></p>
    </div>
</div>
